@media (max-width: 600px) {
  // #btnactualizardato{
  //     display: none !important;
  //   }
  .container-dispositivo{
    position: fixed;
      bottom: 37px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
  }
  
  .div-Videos{
    width: 0%;
    }
    
    .div-Personas-Chat{
      width: 100%;
      background: #f8f8f8;
      // height: 60vh;
    }

  .video-tile-nameplate {
    position: absolute;
    bottom: 2px;
    left: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px #000000;
    letter-spacing: 0.1em;
    background: #2e2e2e;
    font-size: 15px;
  }

  .icon-compartir{
    font-size: 20px;
    border: 1.3px solid #3962e6;
    color: #3962e6;
    border-radius: 5px;
    width: 55%;
  }

  .video-vista{
    max-width: 100%;
      max-height: 50vh;
      border-radius: 8px;
      transform: rotateY(180deg);
  }

  .div-configuration{
    position: fixed;
      left: 10%;
      right: 10%;
      top: 20%;
      bottom: 0;
      text-align: center;
      background: aqua;
      height: fit-content;
      padding: 5px;
  }
  
  .text-bloqueodispositivo{
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    padding-left: 1px ;
    padding-right: 1px;
    margin-top: 50px;
  }

  .noMobile{
    display: none;
  }

  .btn-configuracion {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 0px 0px 10px white;
  }

  .flow-need-permission-texto {
    color: #ffffff;
      font-size: 40px;
      line-height: 41px;
      font-weight: 400;
      bottom: 0;
      position: fixed;
      width: 100%;
  }

  .promocionales-sala{
    display: none;
  }

  .promocionales-sala-mobile{
    text-align: center;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
  }

  .animated-image {
    display: none !important;
  }

  .permmiso-mobile {
    display: block;
  }

  .divBotonesVideoconsulta {
    // height: 55px;
    // margin-left: 2px;
    // margin-right: 2px;
    // border: 1.1px solid #dbe0e4;
    // border-radius: 12px;
    // margin-top: 22px;
    width: 60px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    //height: 7vh !important;
  }
  // .imagen-login {
  //   display: none !important;
  // }
  #imagen-videoconsulta {
    display: none !important;
  }
  .nombre-Persona{
    flex-grow: 9;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
  }
  .contenedor-login {
    margin-top: 200px;
    padding-top: 2px;
    transform: skew(0deg, 4deg) translate(0px, 30px);
    border-radius: 50px;
  }
  .formumario-login{
    transform: skew(0deg, -4deg);
  }
  .fondo-login{
    // background-color: blueviolet;
    background-image: url('https://assetstelemedicina.s3.amazonaws.com/assets/img/img-login.png');
    background-size: contain;
    background-position-y: -140px;
  }
  .form-login{
    padding: 5%;
    position: fixed;
    z-index: 9;
    height: -webkit-fill-available;
  }

  .input-nombre-invitado {
    color: rgb(0, 0, 0);
    width: 80%;
    height: 5vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }

  #mensajesDoctor {
    box-sizing: border-box;
    width: 90%;
    border: 1px solid #DBE0E4;
    border-radius: 8px;
    background-color:  rgb(23 29 73);
    position: fixed;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: #ffffff;
    font-size: 19px;
  }

  div#roster-message-container {
    background-color: #DBE0E4;
    font-weight: 600;
    font-size: 12px;
    line-height: 15.4px;
    color: #3962E6;
    border-radius: 10px;
    height: 50vh;
  }

  #mensajeIngresoASala,
  #mensajesPaciente {
    box-sizing: border-box;
    // height: 150px;
    width: 90%;
    border: 1px solid #DBE0E4;
    border-radius: 8px;
    background-color: rgb(23 29 73);
    position: fixed;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: #ffffff;
  }

  .botonesFlotantes {
    width: fit-content !important;
    position: fixed;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: #ffffff;
  }

  #mensajesError {
  box-sizing: border-box;
  border: 1px solid #DBE0E4;
  border-radius: 8px;
  background-color:  #a84f5c;
  position: fixed;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: #ffffff;    
  font-size: 18px;
  }
  #mensajeAutomatico {
    box-sizing: border-box;
    width: 90%;
    border: 1px solid #DBE0E4;
    border-radius: 8px;
    background-color: rgb(23 29 73);
    position: fixed;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: #ffffff;
  }

  #mensajeAutomaticoDemora {
    box-sizing: border-box;
    width: 90%;
    border: 1px solid #DBE0E4;
    border-radius: 8px;
    background-color: rgb(23 29 73);
    position: fixed;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: #ffffff;
  }

  #mensajeConfirmarReagendar {
    box-sizing: border-box;
    width: 90%;
    border: 1px solid #DBE0E4;
    border-radius: 8px;
    background-color: rgb(23 29 73);
    position: fixed;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: #ffffff;
  }

  #mensajeTerminarCita {
    box-sizing: border-box;
    border: 1px solid #DBE0E4;
    border-radius: 8px;
    background-color: rgb(23 29 73);
    position: fixed;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: #ffffff;
  }

  .icono-veris{
    display: none !important;
  }
  div.termsx {
    overflow-y: scroll;
    height: 350px;
    width: 100%;
    margin: 0px auto;
    border: 1px solid #DDD;
    padding: 10px;
    color: #999999;
    padding-top: 65px !important;
  }

  .v-grid.size-0 {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    .video-tile.active {
      display: inline-flex;
      height: 25vh;
  }
  }

  .v-grid.size-1 {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    .video-tile.active {
      display: inline-flex;
      height: 25vh;
  }
  }
  
  .v-grid.size-2 {
    grid-template: repeat(2, 1fr) /repeat(1, 1fr);
    .video-tile.active {
      display: inline-flex;
      height: 25vh;
  }
  }
  
  .v-grid.size-3{
    grid-template: repeat(3, 1fr)/repeat(1, 1fr);
    .video-tile.active {
      display: inline-flex;
      height: 25vh;
  }
  }
  .v-grid.size-4 {
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    .video-tile.active {
      display: inline-flex;
      height: 25vh;
  }
  }
  
  .v-grid.size-5{
    grid-template: repeat(5, 1fr) / repeat(1, 1fr);
    .video-tile.active {
      display: inline-flex;
      height: 25vh;
  }
  }
  
  .v-grid.size-6 {
    grid-template: repeat(6, 1fr) / repeat(1, 1fr);
    .video-tile.active {
      display: inline-flex;
      height: 25vh;
  }
  }
  
  .v-grid.size-7{
    grid-template: repeat(7, 1fr) / repeat(1, 1fr);
    .video-tile.active {
      display: inline-flex;
      height: 25vh;
  }
  }
  .v-grid.size-8 {
    grid-template: repeat(8, 1fr) / repeat(1, 1fr);
    .video-tile.active {
      display: inline-flex;
      height: 25vh;
  }
  }
  
  .v-grid.size-9,
  .v-grid.size-10 {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }
  
  .v-grid.size-11,
  .v-grid.size-12 {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }
  
  .v-grid.size-13,
  .v-grid.size-14,
  .v-grid.size-15,
  .v-grid.size-16 {
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  }
  .video-tile-video {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    //-o-object-fit: fill;
    //object-fit: fill;
    padding: 2px;
    //background: #bfc0bf;
  }
  .card-promocionales {
    border-radius: 6px;
    border: 1px solid #DBE0E4;
    width:auto;
    float:none;
  }

  .mensaje-bienvenida{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%;
  }

  .text-bienvenida{
    font-size: inherit !important;
  }
}


@media (max-width: 400px) {

  #mensajeIngresoASala,
  #mensajesPaciente {
    box-sizing: border-box;
    height: 180px;
    width: 90%;
    border: 1px solid #DBE0E4;
    border-radius: 8px;
    background-color: rgb(23 29 73);
    position: fixed;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: #ffffff;
  }
  #mensajeAutomatico {
    box-sizing: border-box;
    width: 90%;
    border: 1px solid #DBE0E4;
    border-radius: 8px;
    background-color: rgb(23 29 73);
    position: fixed;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: #ffffff;
  }
  .footer-card-promo {
    font-size: 24px;
     color: #171D49;
     font-weight: 800;
     margin-top: 0.2rem !important;
   }
}

@media (max-height: 680px) {
  div.termsx {
    overflow-y: scroll;
    height: 300px;
    width: 100%;
    margin: 0px auto;
    border: 1px solid #DDD;
    padding: 10px;
    color: #999999;
    padding-top: 65px !important;
}
}

@media (max-height: 636px) {
  div.termsx {
    overflow-y: scroll;
    height: 250px;
    width: 100%;
    margin: 0px auto;
    border: 1px solid #DDD;
    padding: 10px;
    color: #999999;
    padding-top: 65px !important;
}
}