@import "./variables.scss";

#videos-sala-de-espera {
	#spanTxtBienvenida {
		color: $primary;
		font-size: 25px;
	}
	.text-bienvenida {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		background: $primary;
		border: none;
		color: white;
		padding: 10px 10px;
		& > div {
			display: block;
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: auto;
			align-self: auto;
			order: 0;
		}

		.fa-clock-o {
			color: inherit;
		}
		& > .text-bienvenidax {
			font-size: 20px;
			margin-left: 0.5rem;
			border: none;
		}
		br {
			display: none;
		}
		@media (max-width: 600px) {
			& > br {
				display: initial;
			}
		}
	}
}
